* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.main__item {
  margin-bottom: 30px;
  list-style: none;
}

.main__link {
  list-style: none;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 250px;
  background-color: #ddd3e2;
  text-shadow: 1px 1px 0 #ddd3e2;
  font-size: 16px;
  font: inherit;
  font-weight: bold;
  color: #3f3448;
  box-shadow: -5px -5px 20px #ddd3e2, 5px 5px 20px #ddd3e2;
  cursor: pointer;
}
